body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
}

header {
    background-color: #1C1C1C;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.logo {
    width: 120px;
    height: auto;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1C1C1C;
    padding: 10px 0;
    gap: 32px;
    border-radius: 8px;
}

.menu a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1rem;
    padding: 8px 10px;
    border-radius: 4px;
    transition: background 0.2s;
}

.menu a:hover {
    background-color: #A67C00;
}

.banner {
    color: #fff;
    min-height: 50vh;
    background-color: #000;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    position: relative;
}

.botao{
    color: #000;
    border-radius: 5px;
    background-color: #A67C00;
    width: 120px;
}

.botao:hover {
    background-color: #ecd9a1;
}

.sobre{
    display: flex;
    align-items: center;
}

